.outer-container {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #ecd9d4;
  gap: 10px;
  border-radius: 10px;
}

.inner-container {
  justify-self: center;
  max-width: 1000px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  margin: 16px auto;
  justify-content: space-between;
  padding: 10px;
}

.label0 {
  margin: 5px 0px;
  min-width: 200px;
}

.label1 {
  padding-left: 10px;
  margin: 5px 10px 5px 0;
  min-width: 200px;
}

.label2 {
  padding-left: 10px;
  margin: 5px 10px;
  min-width: 200px;
}

.label3 {
  text-align: end;
  margin: 5px 25px 5px 10px;
  min-width: 200px;
}
