.outer-container {
  max-width: 1200px;
  background-color: #c5d86d;
  display: grid;
  grid-template-columns: 150px 1fr 1fr 200px;
  justify-content: flex-start;
  gap: 10px;
}
.outer-container .label1 {
  grid-column: 2;
}

.outer-container .label2 {
  grid-column: 3;
}

.outer-container .label3 {
  grid-column: 4;
}
